body {
  background: lightgray;
}

.jumbotron {
  background: black;
  bottom: 70%;
  text-align: center;
  border-bottom: 10px solid aqua;
  border-top: 10px solid yellow;
  border-right: 10px solid greenyellow;
  border-left: 10px solid red;
  clear: both;
  width: 100%;  

}

.text {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 50px;
  color: yellow;

}

.label{
  color: aliceblue;
}

.container-fluid {
  font-size: 14px;
}



.pictures {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.image {
  height: 180px;
  width: 200px;

}

.gif{
  height: 50%;
  flex-wrap: wrap;
  width: 50%;

}

#input {

}

